.form-step {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  width: 100%; /* Aumenta a largura da caixa para 80% do contêiner pai */
  height: auto; /* Ajusta a altura automaticamente */
  max-width: 1600px; /* Limita a largura máxima em 1000px */
}

h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: 'Poppins',sans-serif;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

th {
  background-color: #06864a;
  color: #fff;
  font-weight: bold;
}

td {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

table {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.table-container {
  padding: 50px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}